<header>
    <div class="head-cont">
        <h1>
            <a href="/"><img src="/images/logo.png" alt="BLUE SHARK 수상 레저스포츠"></a>
        </h1>
        <button type="button" class="btn-menu-all"><span class="blind">전체메뉴 보기</span><span class="bar" aria-hidden="true"></span></button>
        <nav id="gnb">
            <ul>
                <li>
                    <a href="/page/sub01_01.html" class="dep1@@if(context.cate01){ active}">블루샤크</a>
                    <button type="button" class="dep2-open"><span class="blind">하위메뉴 더보기</span></button>
                    <ul class="depth2">
                        <li><a href="/page/sub01_01.html" class="active">회사소개</a></li>
                        <li><a href="/page/sub01_02.html">SNS</a></li>
                        <li><a href="/page/sub01_03.html">가격/상품/구매</a></li>
                        <li><a href="/page/sub01_04.html">오시는길</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/page/sub02_01.html" class="dep1@@if(context.cate02){ active}">수상레저</a>
                    <button type="button" class="dep2-open"><span class="blind">하위메뉴 더보기</span></button>
                    <ul class="depth2">
                        <li><a href="/page/sub02_01.html">상품소개</a></li>
                        <li><a href="/page/sub02_02.html">수상패키지</a></li>
                        <li><a href="/page/sub02_03.html">수상+숙박패키지</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/page/sub03_01.html" class="dep1@@if(context.cate03){ active}">숙박</a>
                    <button type="button" class="dep2-open"><span class="blind">하위메뉴 더보기</span></button>
                    <ul class="depth2">
                        <li><a href="/page/sub03_01.html">숙박안내 및 가격</a></li>
                        <li><a href="/page/sub03_02.html">리조트 엘리시안강촌</a></li>
                        <li><a href="/page/sub03_03.html">펜션</a></li>
                        <li><a href="/page/sub03_04.html">풀빌라</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/page/sub04_01.html" class="dep1@@if(context.cate04){ active}">제휴관광지</a>
                    <button type="button" class="dep2-open"><span class="blind">하위메뉴 더보기</span></button>
                    <ul class="depth2">
                        <li><a href="/page/sub04_01.html">엘리시안강촌</a></li>
                        <li><a href="/page/sub04_02.html">가평레일바이크</a></li>
                        <li><a href="/page/sub04_03.html">자라섬</a></li>
                        <li><a href="/page/sub04_04.html">남이섬</a></li>
                        <li><a href="/page/sub04_05.html">제이드가든</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/page/sub05_01.html" class="dep1@@if(context.cate05){ active}">먹거리</a>
                    <button type="button" class="dep2-open"><span class="blind">하위메뉴 더보기</span></button>
                    <ul class="depth2">
                        <li><a href="/page/sub05_01.html">신제품01</a></li>
                        <li><a href="/page/sub05_02.html">신제품02</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/page/sub06_01.html" class="dep1@@if(context.cate06){ active}">갤러리</a>
                    <button type="button" class="dep2-open"><span class="blind">하위메뉴 더보기</span></button>
                    <ul class="depth2">
                        <li><a href="/page/sub06_01.html">사진</a></li>
                        <li><a href="/page/sub06_02.html">동영상</a></li>
                        <li><a href="https://www.youtube.com/channel/UCzfkcNzjk49F2f3AQGtC5TA" target="_blank">유튜브</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/page/sub07.html" class="dep1@@if(context.cate07){ active}">공지사항</a>
                </li>
                <li>
                    <a href="https://talk.naver.com/ct/wc4mk2?frm=mnmb&frm=nmb_detail" class="dep1" target="_blank" aria-label="네이버예약으로 새창 이동합니다.">예약</a>
                </li>
            </ul>
        </nav>
    </div>
</header>